#name {
    animation: fill-animation 0.5s ease forwards 3.5s;
}

#name path:nth-child(1) {
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
    animation: letter-animation 5s ease forwards;
}
#name path:nth-child(2) {
    stroke-dasharray: 175;
    stroke-dashoffset: 175;
    animation: letter-animation 1s ease forwards 1s;
}
#name path:nth-child(3) {
    stroke-dasharray: 290;
    stroke-dashoffset: 290;
    animation: letter-animation 2.5s ease forwards 1.5s;
}
#name path:nth-child(4) {
    stroke-dasharray: 254;
    stroke-dashoffset: 254;
    animation: letter-animation 1.5s ease forwards 1.5s;
}
#name path:nth-child(5) {
    stroke-dasharray: 317;
    stroke-dashoffset: 317;
    animation: letter-animation 2s ease forwards;
}
#name path:nth-child(6) {
    stroke-dasharray: 345;
    stroke-dashoffset: 345;
    animation: letter-animation 3.5s ease forwards 1s;
}
#name path:nth-child(7) {
    stroke-dasharray: 394;
    stroke-dashoffset: 394;
    animation: letter-animation 1.5s ease forwards 2s;
}
#name path:nth-child(8) {
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
    animation: letter-animation 3.5s ease forwards 1s;
}
#name path:nth-child(9) {
    stroke-dasharray: 164;
    stroke-dashoffset: 164;
    animation: letter-animation 1.5s ease forwards 2.2s;
}
#name path:nth-child(10) {
    stroke-dasharray: 284;
    stroke-dashoffset: 284;
    animation: letter-animation 3.5s ease forwards 1s;
}

@keyframes letter-animation {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-animation {
    from {
        fill: transparent;
        border: #e6f1ff;
    }
    to {
        fill: #e6f1ff;
        border: transparent;
    }
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-up-fade-in {
    animation: slide-up-fade-in ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards; /*when the spec is finished*/
    -webkit-animation: slide-up-fade-in ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode: forwards; /*Chrome 16+, Safari 4+*/
    -moz-animation: slide-up-fade-in ease 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode: forwards; /*FF 5+*/
    -o-animation: slide-up-fade-in ease 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode: forwards; /*Not implemented yet*/
    -ms-animation: slide-up-fade-in ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode: forwards; /*IE 10+*/

    opacity: 0;
    opacity: 1\9;
}

@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -o-transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, 40px);
    }
    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}

.project-box:hover {
    transform: translateY(-5%);
    transition: all;
    transition-duration: 0.3s;
    @apply ease-in-out;
}

.project-box {
    @apply transition duration-300 ease-in-out;
}
