@import "./animation.css";
@import "./buttons.css";
@import "./typography.css";
@import "./lists.css";
@import "./icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer utilities {
    @responsive {
        .accent-filter {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.8;
        }
        .accent-filter-transparent {
            transition: 0.5s;
            filter: invert(0%) sepia(97%) saturate(250%) hue-rotate(100deg) brightness(106%) contrast(104%);
            opacity: 0.2;
        }
    }

    @variants hover {
        .no-filter {
            filter: none;
            opacity: 1;
        }
    }
}
