---
import ContentLayout from "../layouts/content-layout.astro";
import meImage from "../assets/about-me/me.jpg";
---

<ContentLayout section="about-me">
  <h2
    class="content-title"
    data-aos="fade-right"
    data-aos-duration="3000"
    data-aos-once="true"
  >
    About me
  </h2>

  <div class="flex flex-col gap-y-8 md:flex-row gap-x-20">
    <div
      class="flex flex-col gap-y-4 md:gap-y-6 text-lg"
      data-aos="fade-up"
      data-aos-duration="2000"
      data-aos-once="true"
    >
      <p>Hi! I'm Alex, a mexican software engineer.</p>
      <p>
        I'm advocated to create good quality software solutions. Eager to work
        as part of an awesome team to bring efficient solutions to complex
        problems.
      </p>
      <p>
        I completed my bachelor of Software Engineering at <a
          class="link-text"
          href="https://www.uv.mx/"
          target="_blank">Universidad Veracruzana</a
        > during the 2020 summer.
      </p>
      <p>
        My hobbies include gardening, cooking, learning new things and playing
        with my cat. Lately I enjoy working on side projects that help me
        acquire new skills as well as to learn how things work.
      </p>
    </div>
    <div
      class="md:w-2/3"
      data-aos="fade-left"
      data-aos-duration="2000"
      data-aos-once="true"
    >
      <img
        class="rounded-2xl lg:accent-filter hover:no-filter"
        src={meImage.src}
      />
    </div>
  </div>
</ContentLayout>
