---
import Link from "../components/UI/Link";
import ContentLayout from "../layouts/content-layout.astro";
import { CONTACT_EMAIL } from "../config/config";
---

<ContentLayout section="contact">
  <div class="flex flex-col gap-y-8 items-center md:w-3/5 text-center">
    <h2 class="content-title text-accent">Contact info</h2>
    <p
      class="text-4xl font-semibold"
      data-aos="fade-right"
      data-aos-duration="2000"
      data-aos-once="true"
    >
      Get In Touch! ;)
    </p>
    <p
      class="text-lg"
      data-aos="fade-left"
      data-aos-duration="2000"
      data-aos-once="true"
    >
      If you want to make a request, suggest an improvement, report an error or
      you simply want to say hi, my inbox is always open!
    </p>
    <div class="w-full" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
      <Link
        text="Say Hi!"
        className="w-full block md:inline-block md:w-fit md:px-32 md:hover:px-32"
        href={`mailto:${CONTACT_EMAIL}?subject=Hello!&body=Hi,%20Alex!`}
      />
    </div>
  </div>
</ContentLayout>
