---
import ContentLayout from "../layouts/content-layout.astro";
import Timeline from "../components/experience/Timeline";
---

<ContentLayout section="experience">
  <div class="flex flex-col md:mx-20 gap-y-6 justify-items-center mt-28 mb-52 md:mb-0 md:mt-0">
    <h2
      class="content-title"
      data-aos="fade-right"
      data-aos-duration="3000"
      data-aos-once="true"
    >
      Experience
    </h2>
    <Timeline client:load />
  </div>
</ContentLayout>
