---
import gitlabIcon from "../assets/icons/gitlab.svg";
import heartIcon from "../assets/icons/heart.svg";
---

<div class="w-screen text-center flex flex-col text-sm gap-y-1 my-3">
  <div class="flex justify-center">
    <p class="text-light-dark">Made with</p>
    <img src={heartIcon.src} class="w-3 blue-icon mx-1" />
    <p class="text-light-dark">by Alex Cámara</p>
    <a
      href="https://gitlab.com/arcamsoft/portfolio"
      target="_blank"
      class="my-auto"
    >
      <img src={gitlabIcon.src} class="h-6 white-icon" />
    </a>
  </div>
  <p class="text-dark-gray">
    Based in the design made by <a
      href="https://github.com/bchiang7"
      target="_blank">Brittany Chiang</a
    >.
  </p>
</div>
