---
import "../styles/global.css";
import MainLayout from "../layouts/main-layout.astro";
import AboutMe from "./about-me.astro";
import Intro from "./intro.astro";
import Experience from "./experience.astro";
import Projects from "./projects.astro";
import Contact from "./contact.astro";
import Footer from "./footer.astro";

---

<MainLayout title="Alex Cámara - Portfolio">
  <Intro />
  <AboutMe />
  <Experience />
  <Projects />
  <Contact />
  <Footer />
</MainLayout>
