---
import ContactMeButton from "../components/UI/ContactMeButton";
---

<div class="h-screen w-screen">
  <div class="flex flex-col justify-center mx-5 md:mx-48 h-full gap-y-2">
    <span class="text-accent text-xl md:text-md">Hi! My name is</span>
    <div class="w-11/12 lg:w-3/4 mb-5">
      <svg
        id="name"
        class="w-10/22"
        viewBox="0 0 591 80"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M32.8 6.2H43.7L74.2 77H59.8L53.2 60.8H22.5L16.1 77H2L32.8 6.2ZM48.8 50L37.9 21.2L26.8 50H48.8Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M81.168 1.39999H93.168V77H81.168V1.39999Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M116.545 57.2C116.945 60.8 118.345 63.6 120.745 65.6C123.145 67.6 126.045 68.6 129.445 68.6C132.445 68.6 134.945 68 136.945 66.8C139.011 65.5333 140.811 63.9667 142.345 62.1L150.945 68.6C148.145 72.0667 145.011 74.5333 141.545 76C138.078 77.4667 134.445 78.2 130.645 78.2C127.045 78.2 123.645 77.6 120.445 76.4C117.245 75.2 114.478 73.5 112.145 71.3C109.811 69.1 107.945 66.4667 106.545 63.4C105.211 60.2667 104.545 56.8 104.545 53C104.545 49.2 105.211 45.7667 106.545 42.7C107.945 39.5667 109.811 36.9 112.145 34.7C114.478 32.5 117.245 30.8 120.445 29.6C123.645 28.4 127.045 27.8 130.645 27.8C133.978 27.8 137.011 28.4 139.745 29.6C142.545 30.7333 144.911 32.4 146.845 34.6C148.845 36.8 150.378 39.5333 151.445 42.8C152.578 46 153.145 49.7 153.145 53.9V57.2H116.545ZM141.145 48.2C141.078 44.6667 139.978 41.9 137.845 39.9C135.711 37.8333 132.745 36.8 128.945 36.8C125.345 36.8 122.478 37.8333 120.345 39.9C118.278 41.9667 117.011 44.7333 116.545 48.2H141.145Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M176.766 51.2L160.166 29H174.766L184.366 43.4L194.766 29H208.466L192.066 51.2L211.366 77H196.766L184.266 59.8L171.666 77H157.466L176.766 51.2Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M297.367 22.8C294.767 20 292.234 18.1333 289.767 17.2C287.367 16.2667 284.934 15.8 282.467 15.8C278.801 15.8 275.467 16.4667 272.467 17.8C269.534 19.0667 267.001 20.8667 264.867 23.2C262.734 25.4667 261.067 28.1333 259.867 31.2C258.734 34.2667 258.167 37.5667 258.167 41.1C258.167 44.9 258.734 48.4 259.867 51.6C261.067 54.8 262.734 57.5667 264.867 59.9C267.001 62.2333 269.534 64.0667 272.467 65.4C275.467 66.7333 278.801 67.4 282.467 67.4C285.334 67.4 288.101 66.7333 290.767 65.4C293.501 64 296.034 61.8 298.367 58.8L308.767 66.2C305.567 70.6 301.667 73.8 297.067 75.8C292.467 77.8 287.567 78.8 282.367 78.8C276.901 78.8 271.867 77.9333 267.267 76.2C262.734 74.4 258.801 71.9 255.467 68.7C252.201 65.4333 249.634 61.5333 247.767 57C245.901 52.4667 244.967 47.4333 244.967 41.9C244.967 36.2333 245.901 31.1 247.767 26.5C249.634 21.8333 252.201 17.8667 255.467 14.6C258.801 11.3333 262.734 8.83333 267.267 7.09999C271.867 5.3 276.901 4.4 282.367 4.4C287.167 4.4 291.601 5.26666 295.667 6.99999C299.801 8.66666 303.634 11.5333 307.167 15.6L297.367 22.8Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M346.124 70.4H345.824C344.091 73.1333 341.891 75.1333 339.224 76.4C336.558 77.6 333.624 78.2 330.424 78.2C328.224 78.2 326.058 77.9 323.924 77.3C321.858 76.7 319.991 75.8 318.324 74.6C316.724 73.4 315.424 71.9 314.424 70.1C313.424 68.3 312.924 66.2 312.924 63.8C312.924 61.2 313.391 59 314.324 57.2C315.258 55.3333 316.491 53.8 318.024 52.6C319.624 51.3333 321.458 50.3333 323.524 49.6C325.591 48.8667 327.724 48.3333 329.924 48C332.191 47.6 334.458 47.3667 336.724 47.3C338.991 47.1667 341.124 47.1 343.124 47.1H346.124V45.8C346.124 42.8 345.091 40.5667 343.024 39.1C340.958 37.5667 338.324 36.8 335.124 36.8C332.591 36.8 330.224 37.2667 328.024 38.2C325.824 39.0667 323.924 40.2667 322.324 41.8L316.024 35.5C318.691 32.7667 321.791 30.8 325.324 29.6C328.924 28.4 332.624 27.8 336.424 27.8C339.824 27.8 342.691 28.2 345.024 29C347.358 29.7333 349.291 30.7 350.824 31.9C352.358 33.1 353.524 34.5 354.324 36.1C355.191 37.6333 355.791 39.2 356.124 40.8C356.524 42.4 356.758 43.9667 356.824 45.5C356.891 46.9667 356.924 48.2667 356.924 49.4V77H346.124V70.4ZM345.424 55.5H342.924C341.258 55.5 339.391 55.5667 337.324 55.7C335.258 55.8333 333.291 56.1667 331.424 56.7C329.624 57.1667 328.091 57.9 326.824 58.9C325.558 59.8333 324.924 61.1667 324.924 62.9C324.924 64.0333 325.158 65 325.624 65.8C326.158 66.5333 326.824 67.1667 327.624 67.7C328.424 68.2333 329.324 68.6333 330.324 68.9C331.324 69.1 332.324 69.2 333.324 69.2C337.458 69.2 340.491 68.2333 342.424 66.3C344.424 64.3 345.424 61.6 345.424 58.2V55.5ZM341.424 6.2H355.024L340.924 20.6H331.524L341.424 6.2Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M369.335 29H380.735V36.5H380.935C382.002 34.2333 383.702 32.2333 386.035 30.5C388.435 28.7 391.635 27.8 395.635 27.8C403.168 27.8 408.168 30.7667 410.635 36.7C412.368 33.6333 414.535 31.4 417.135 30C419.735 28.5333 422.835 27.8 426.435 27.8C429.635 27.8 432.335 28.3333 434.535 29.4C436.735 30.4667 438.502 31.9333 439.835 33.8C441.235 35.6667 442.235 37.8667 442.835 40.4C443.435 42.8667 443.735 45.5333 443.735 48.4V77H431.735V49.8C431.735 48.3333 431.602 46.9333 431.335 45.6C431.068 44.2 430.602 43 429.935 42C429.268 40.9333 428.369 40.1 427.235 39.5C426.102 38.9 424.635 38.6 422.835 38.6C420.969 38.6 419.368 38.9667 418.035 39.7C416.768 40.3667 415.702 41.3 414.835 42.5C414.035 43.6333 413.435 44.9667 413.035 46.5C412.702 47.9667 412.535 49.4667 412.535 51V77H400.535V48.4C400.535 45.4 399.902 43.0333 398.635 41.3C397.368 39.5 395.268 38.6 392.335 38.6C390.335 38.6 388.635 38.9333 387.235 39.6C385.902 40.2667 384.768 41.1667 383.835 42.3C382.968 43.4333 382.335 44.7333 381.935 46.2C381.535 47.6667 381.335 49.2 381.335 50.8V77H369.335V29Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M486.847 70.4H486.547C484.814 73.1333 482.614 75.1333 479.947 76.4C477.28 77.6 474.347 78.2 471.147 78.2C468.947 78.2 466.78 77.9 464.647 77.3C462.58 76.7 460.714 75.8 459.047 74.6C457.447 73.4 456.147 71.9 455.147 70.1C454.147 68.3 453.647 66.2 453.647 63.8C453.647 61.2 454.114 59 455.047 57.2C455.98 55.3333 457.214 53.8 458.747 52.6C460.347 51.3333 462.18 50.3333 464.247 49.6C466.314 48.8667 468.447 48.3333 470.647 48C472.914 47.6 475.18 47.3667 477.447 47.3C479.714 47.1667 481.847 47.1 483.847 47.1H486.847V45.8C486.847 42.8 485.814 40.5667 483.747 39.1C481.68 37.5667 479.047 36.8 475.847 36.8C473.314 36.8 470.947 37.2667 468.747 38.2C466.547 39.0667 464.647 40.2667 463.047 41.8L456.747 35.5C459.414 32.7667 462.514 30.8 466.047 29.6C469.647 28.4 473.347 27.8 477.147 27.8C480.547 27.8 483.414 28.2 485.747 29C488.08 29.7333 490.014 30.7 491.547 31.9C493.08 33.1 494.247 34.5 495.047 36.1C495.914 37.6333 496.514 39.2 496.847 40.8C497.247 42.4 497.48 43.9667 497.547 45.5C497.614 46.9667 497.647 48.2667 497.647 49.4V77H486.847V70.4ZM486.147 55.5H483.647C481.98 55.5 480.114 55.5667 478.047 55.7C475.98 55.8333 474.014 56.1667 472.147 56.7C470.347 57.1667 468.814 57.9 467.547 58.9C466.28 59.8333 465.647 61.1667 465.647 62.9C465.647 64.0333 465.88 65 466.347 65.8C466.88 66.5333 467.547 67.1667 468.347 67.7C469.147 68.2333 470.047 68.6333 471.047 68.9C472.047 69.1 473.047 69.2 474.047 69.2C478.18 69.2 481.214 68.2333 483.147 66.3C485.147 64.3 486.147 61.6 486.147 58.2V55.5Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M510.558 29H522.558V36.6H522.758C524.091 33.8 525.991 31.6333 528.458 30.1C530.924 28.5667 533.758 27.8 536.958 27.8C537.691 27.8 538.391 27.8667 539.058 28C539.791 28.1333 540.524 28.3 541.258 28.5V40.1C540.258 39.8333 539.258 39.6333 538.258 39.5C537.324 39.3 536.391 39.2 535.458 39.2C532.658 39.2 530.391 39.7333 528.658 40.8C526.991 41.8 525.691 42.9667 524.758 44.3C523.891 45.6333 523.291 46.9667 522.958 48.3C522.691 49.6333 522.558 50.6333 522.558 51.3V77H510.558V29Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
        <path
          d="M579.425 70.4H579.125C577.392 73.1333 575.192 75.1333 572.525 76.4C569.858 77.6 566.925 78.2 563.725 78.2C561.525 78.2 559.358 77.9 557.225 77.3C555.158 76.7 553.292 75.8 551.625 74.6C550.025 73.4 548.725 71.9 547.725 70.1C546.725 68.3 546.225 66.2 546.225 63.8C546.225 61.2 546.692 59 547.625 57.2C548.558 55.3333 549.792 53.8 551.325 52.6C552.925 51.3333 554.758 50.3333 556.825 49.6C558.892 48.8667 561.025 48.3333 563.225 48C565.492 47.6 567.758 47.3667 570.025 47.3C572.292 47.1667 574.425 47.1 576.425 47.1H579.425V45.8C579.425 42.8 578.392 40.5667 576.325 39.1C574.258 37.5667 571.625 36.8 568.425 36.8C565.892 36.8 563.525 37.2667 561.325 38.2C559.125 39.0667 557.225 40.2667 555.625 41.8L549.325 35.5C551.992 32.7667 555.092 30.8 558.625 29.6C562.225 28.4 565.925 27.8 569.725 27.8C573.125 27.8 575.992 28.2 578.325 29C580.658 29.7333 582.592 30.7 584.125 31.9C585.658 33.1 586.825 34.5 587.625 36.1C588.492 37.6333 589.092 39.2 589.425 40.8C589.825 42.4 590.058 43.9667 590.125 45.5C590.192 46.9667 590.225 48.2667 590.225 49.4V77H579.425V70.4ZM578.725 55.5H576.225C574.558 55.5 572.692 55.5667 570.625 55.7C568.558 55.8333 566.592 56.1667 564.725 56.7C562.925 57.1667 561.392 57.9 560.125 58.9C558.858 59.8333 558.225 61.1667 558.225 62.9C558.225 64.0333 558.458 65 558.925 65.8C559.458 66.5333 560.125 67.1667 560.925 67.7C561.725 68.2333 562.625 68.6333 563.625 68.9C564.625 69.1 565.625 69.2 566.625 69.2C570.758 69.2 573.792 68.2333 575.725 66.3C577.725 64.3 578.725 61.6 578.725 58.2V55.5Z"
          stroke="#E6F1FF"
          stroke-width="1.5"></path>
      </svg>
    </div>

    <h2
      class="text-3xl text-light-primary mb-2 md:mb-5 font-bold md:text-6xl leading-tight"
    >
      Building solutions through software.
    </h2>
    <p class="text-xl md:text-md">I'm a software engineer</p>

    <div
      class="w-full"
      data-aos="fade-left"
      data-aos-duration="20000"
      data-aos-once="true"
    >
      <ContactMeButton
        client:load
        className="items-center mt-5 w-full md:place-self-start md:w-56 h-16"
        text="Get in touch"
      />
    </div>
  </div>
</div>
