---
import ContentLayout from "../layouts/content-layout.astro";
import ProjectsSection from "../components/projects/ProjectsSection";
---

<ContentLayout section="projects">
  <div class="flex flex-col gap-y-10 justify-items-center">
    <h2
      class="content-title"
      data-aos="fade-right"
      data-aos-duration="3000"
      data-aos-once="true"
    >
      Projects I've worked on
    </h2>
    <ProjectsSection />
  </div>
</ContentLayout>
