---
const { section } = Astro.props
---


<div class="flex w-screen min-h-screen h-fit" id={section}>
<!-- <div class="flex w-screen min-h-screen h-fit bg-amber-800" id={section}> -->
  <div class="flex flex-col md:w-3/4 mx-4 md:mx-auto align-middle items-center justify-center my-auto h-full gap-y-2">
  <!-- <div class="flex flex-col md:w-3/4 mx-4 md:mx-auto align-middle items-center justify-center my-auto h-full gap-y-2 bg-green-300"> -->
    <slot />
  </div>
</div>
