---
const { title } = Astro.props;
import Nav from "../components/nav/Nav";
import ContactLinks from "../components/contact/ContactLinks";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Alex Cámara web portfolio" />

    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="assets/logo.svg">
  </head>
  <body class="bg-background text-light-dark">
    <main>
      <Nav client:only />
      <div class="flex w-full">
      <ContactLinks client:only />
      <div class="w-full">
        <slot />
      </div>
    </div>
    </main>
  </body>
</html>
